<article class="cutestagram-post">
    <div class="user-info">
        <img src="<%= cutestagram_post.user.avatar_url %>" alt="<%= cutestagram_post.user.username %>">
        <h2><%= cutestagram_post.user.username %></h2>
        <h3><%= cutestagram_post.humanized_time_ago %></h3>
    </div>
    <a class="photo" href="/cutestagram_posts/<%= cutestagram_post.id %>">
        <img class="photo-rounded-corner" src="<%= cutestagram_post.photo_url %>" alt="cutestagram post from <%= cutestagram_post.user.username %>">
    </a>
    <div class="actions">
        <%= cutestagram_post.like_count %> likes
        <span class="comment-count"><%= cutestagram_post.comment_count %> comments</span>
    </div>
    <ul class="comments">
        <% cutestagram_post.comments.each do |comment| %>
            <li>
                <p>
                    <%= comment.user.username %>: <%= comment.text %>
                </p>
            </li>
        <% end %>
    </ul>
</article>